.title {
    border: 0px;
    color:#efe9c3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    background: transparent;
    margin-top: 4%;
    text-align: center;
    width: 39vh;
    font-weight: bold;
    
}

;
.force-opaque::placeholder {
    opacity: 1;
  }
::placeholder {
    color: #efe9c3
    
}

;
.title.capitalize {
    text-transform: capitalize;
}

body {
    background: url(img/Fondo_v3.jpg) no-repeat center center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}
#divfather{
    display: flex;
    margin : 15px ;
    background-color: rgba(23, 25, 13, 0.6);
    margin : 10px;
}
.taskelement{
    margin: auto 5px;
    color:beige;
    font-size: 25px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    
    height: 100vh;
    display: grid;
    grid-template: 
    "flagcontainer chosedtaskcontainer" 20% 
    "taskcontainer chosedtaskcontainer" 80% 
     
    / 50% 50%
    ;
   
    grid-column-gap: 15px ;
    grid-row-gap: 15px ;
    
}

.flagcontainer {
    grid-area: flagcontainer;
    background-color: aquamarine;
    height: 20 vh;
    display : grid ;
    grid-template: 
    "pole pole" 1vh
    "smallflag bigflag" 45%
    / 12vh 45vh ;
     margin: 30px 0 0 0;
}

.taskcontainer {
    grid-area: taskcontainer;
    background-color: burlywood;
    margin: 0 0 30px 30px;
    
}

.chosedtaskcontainer {
    grid-area: chosedtaskcontainer;
    background-color: lavender;
    margin: 30px;
    margin-left: 0;
}
.pole{
    grid-area: pole;
    background: rgb(169,151,122);  
background: linear-gradient(180deg, rgba(169,151,122,1) 0%, rgba(125,109,76,1) 35%, rgba(65,47,17,1) 100%);
}
.smallflag{
grid-area: smallflag ;
margin-left: 20%;
margin-right: 9%;
}
.bigflag{
grid-area: bigflag;
margin-left: 0px;
margin-right: 12%;
}
.flag{
    background: linear-gradient(180deg, rgba(28,43,75,1) 0%, rgba(16,24,40,1) 100%);
    border-style: dashed solid solid solid;
    border-width: 2px;
    border-color: linear-gradient(180deg, rgba(28,43,75,1) 0%, rgba(16,24,40,1) 100%);;
    border-radius: 3px;
}
